*{transition: all 0.3s ease-in-out}

.img-container img {width: 100%;}

@for $i from 1 through 5{
    .mar-#{$i}{
        margin:$i + rem;
    }
}
@for $i from 1 through 5{
    .mar-left-#{$i}{
        margin-left:$i + rem;
    }
}
@for $i from 1 through 5{
    .mar-right-#{$i}{
        margin-right:$i + rem;
    }
}
@for $i from 1 through 5{
    .pad-#{$i}{
        padding:$i + rem;
    }
}
@for $i from 1 through 5{
    .pad-left-#{$i}{
        padding-left:$i + rem;
    }
}
@for $i from 1 through 5{
    .pad-right-#{$i}{
        padding-right:$i + rem;
    }
}

.width25, 
.width33, 
.width50,
.width66{
  display: block;
  float: left;
}
.width25{width: 25%;}
.width50{width: 50%;}
.width33{width: 33.3%;}
.width66{width: 66.6%;}
.width100{width: 100%;}

.fr, .fl{display: block;}
.fr{float: right;}
.fl{float: left;}

.relative{position: relative;}

.absolute{position: absolute;}


a{
    text-decoration: none;
}