//animate
 @import 'animate';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Variables
@import 'general';

.card a:hover {
    filter: grayscale(0.8);
}
a{
    color: $indigo!important;
}
.navbar-light .navbar-brand {
    text-transform: uppercase;
    color: $indigo!important;
    font-weight: 900;
    font-size: 3rem;    
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-toggler {
    color:$indigo!important;
}
a.navbar-brand::first-letter{
    color: pink!important;
    text-transform: lowercase;
}

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

.container{
  margin: 0 auto!important;
  min-width: 95vw!important;  
  @include media-breakpoint-up(md) { 
    min-width: 98vw!important; }
}

.navbar-laravel {
  background-color: rgba(15, 15, 15, 0.897);
  box-shadow: 0 0.4px 2px rgba(250, 250, 240, 0.9);
}
html, body {
  background: linear-gradient(180deg, rgba(33,33,41,1) 35%, rgba(67,65,72,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
    color: $indigo;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

.full-height {
    height: 100vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.content {
    text-align: center;
}
.title {
    font-size: 84px;    
}
.links > a {
    color: $indigo;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.card-columns {
    column-count: 1;
    @include media-breakpoint-only(sm) {
        column-count: 2;
      }
    @include media-breakpoint-only(md) {
        column-count: 3;
      }
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
    .card-img-overlay{
        background-color: rgba(15, 15, 15, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  }

  .buttons{
      position: absolute;
      top:0;
      right:0;
      display: flex;
      flex-direction: row;
      .btn{
      filter: opacity(0.5);
      margin-left:0.5rem;
    }
      .btn:hover{
          filter: opacity(1)!important;
      }
  }

  #searchPrediction{
    display: block; 
    position: relative;
    z-index: 500;   
    li:hover{
        cursor: pointer;
    } 
  }
  .searchBar{
      margin-top: -2.5rem;
  } 


  //formulaire
#form-upload{
  .image{
      .input-group-text{
          padding-top: 0.65rem!important;
          padding-bottom: 0.65rem!important;
          z-index:10!important;
      }
  }
  .custom-file-label.image{
    z-index:1!important;
    margin-left:2rem!important;
  }}